<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <id>http://benhoskin.gs/</id>
  <title>benhoskin.gs</title>
  <link href="http://benhoskin.gs" rel="alternate"/>
  <link href="http://benhoskin.gs/index.atom" rel="self"/>
  <updated><%= date_of(published_posts.first).xmlschema %></updated>
  <author>
    <name>Ben Hoskings</name>
    <email>ben@hoskings.net</email>
    <uri>http://benhoskin.gs</uri>
  </author>
<% published_posts[0...30].each do |post| %>
  <entry>
    <title><%= post.title.encode(:xml => :text) %></title>
    <link href="http://benhoskin.gs/<%= href(post) %>" />
    <updated><%= date_of(post).xmlschema %></updated>
    <id>http://benhoskin.gs/<%= href(post) %></id>
  </entry>
<% end %>
</feed>
